<div class="row wrapper-service">
    <div class="col">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
              <h5 class="card-title">Desarrollo Web</h5>
              <p class="card-text">¿Por qué?.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
              Soporte Técnico
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

