<div class="row wrapper-service">
    <div class="col animate__animated animate__fadeIn">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
              <h5 class="card-title">Desarrollo Web</h5>
              <p class="card-text">¿Qué razones tengo para llevar mi negocio a la web?</p>
              <ul>
                <li>Estar disponible en cualquier momento</li>
                <li>Aumentar la credibilidad y prestigio de tu negocio</li>
                <li>Presencia en Internet</li>
              </ul>
              <a href="#" class="btn btn-primary">¡Empieza Ahora!</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
              <h5 class="card-title">Soporte Técnico</h5>
              <p class="card-text">Para que tu Pc o laptop tengan un buen rendimiento necesitan de un mantenimiento preventivo</p>
              <a href="#" class="btn btn-primary">¡Reserva Ahora!</a>
            </div>
        </div>
    </div>
</div>

