<footer id="footer" class="pb-4 pt-4">
    <div class="container">
        <div class="row">
            <div class="col footer-info text-center">
                <a href="#">Servicios</a>
                <hr class="footer-hr">
                    <li><a href="#">Desarrollo Web</a></li>
                    <li><a href="#">Soporte Técnico</a></li>
            </div>
            <div class="col footer-info text-center">
                <a href="#">Sobre Nostros</a>
                <hr class="footer-hr">
                <li> 
                    <a href="#">¿Quiénes somos?</a>
                </li>
                
            </div>
            <div class="col footer-info text-center">
                <a href="#">Contáctanos</a>
                <hr class="footer-hr">
                <li>
                    <i class="uil uil-facebook-f"></i>
                    <a href="https://www.facebook.com/byteochobits">Facebook</a>
                </li>
                <li>
                    <i class="uil uil-instagram"></i>
                    <a href="https://www.instagram.com/byteochobits/">Instagram</a>
                </li>
                <li>
                    <i class="uil uil-whatsapp"></i>
                    <a href="#">WhatsApp</a>
                </li>
            </div>
        </div>
    </div>
</footer>