<main>
    <div class="wrapper-main row">
        <div class="section col-12">
            <div id="carousel" class="carousel slide" data-ride="carousel" data-pause="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/img/desarrollo.jpg" class="d-block w-100" alt="Imágen de Desarrollo Web">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Desarrollo Web</h5>
                        <p>Potencia tu negocio llevándolo a la web.</p>
                      </div>
                  </div>
                  <div class="carousel-item">
                    <img src="assets/img/soporte.jpeg" class="d-block w-100" alt="Imágen de Soporte">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Soporte Técnico</h5>
                        <p>Mantenimiento Preventivo y Correctivo.</p>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    
<div class="wrapper-services row text-center">
  <div class="col-12 col-md-6 about">
    <h1>¿Quiénes Somos?</h1>
    <p>Somos una microempresa tecnológica, brindamos servicios de desarrollo web, soporte técnico y más.</p>
    <p>Vivimos rodeados de tecnología, de bytes y circuitos, para muchos un terreno que aun tienen que descubrirlo por completo, por ello Byte te ayudará a dar tu mejor rendimiento en este mundo tecnológico y digital. </p>
  </div>
  <div class="col-12 col-md-6">
    <video class="video" controls src="assets/video/logo-byte.mp4"></video>
  </div>
</div>
</main>
